*{
    margin: 0;
    padding: 0;
}

.Header{
    width: 100%;
    height: 120px;
    background-color: white;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 48px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Content{
    
    width: 100%;

    
}



body {

    background-color: #24282F;

}

.Pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex-direction: column;
}

.buttons{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.InfoChars{
    color: white;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.next{
    cursor: pointer;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    width: 150px;
}

.prev{
    cursor: pointer;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    width: 150px;

}

@media (max-width:550px) {
    .Header{
        width: 100%;
        height: 120px;
        background-color: white;
        color: black;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 28px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}